<template name="cardDashboard">
<div class="col-xs-12 dash-select text-center ">
  <div class="dash-select-buttons">
    <div class="btn-group no-print">
      <button type="button" class="btn btn-default btn-lg dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{displayMealSelect}} <span class="caret"></span>
      </button>
      <ul class="dropdown-menu meal-select-dropdown">
      	{{#each meal}}
    	    <li class="dropdownValue"><a href="#">{{mealDay}} {{mealTime}}</a></li>
    	    <li role="separator" class="divider"></li>
        {{/each}}
      </ul>
    </div>
    <div class="btn-group no-print">
      <button type="button" class="btn btn-default btn-lg" id="printCards">Print Cards <span class="glyphicon glyphicon-print"></span></button>
    </div>
  </div>
</div>
	<div class="container-fluid col-xs-6 col-xs-offset-3 card-dashboard no-print">
	{{#each resident}}
	<div class="col-xs-12 card card-pane">
		<h2>{{name}} ({{rmNum}}) - {{texture}}</h2>
		<p><strong>Meal Timer</strong> {{outputDay}} - {{outputTime}}</p>
		<p><strong>Plate</strong> {{outputProtein}} - {{outputVeg}} - {{outputStarch}} </p>
		<p><strong>Hot Bev</strong> {{outputHotBev}}</p>
		<p><strong>Cold Bev</strong> {{outputColdBev}}</p>
		<p>{{consistency}} <strong>liquids</strong></p>
		<p><strong>Restrictions</strong> {{terms}}</p><br>
	</div>
	{{/each}}
	</div>

  <div class="container resident-print print-only">
    {{#each resident}}
        <div class="card-print">
        <h2>{{name}} ({{rmNum}}) - {{texture}}</h2>
    		<p><strong>Meal Timer</strong> {{outputDay}} - {{outputTime}}</p>
    		<p><strong>Plate</strong> {{outputProtein}} - {{outputVeg}} - {{outputStarch}} </p>
    		<p><strong>Hot Bev</strong> {{outputHotBev}}</p>
    		<p><strong>Cold Bev</strong> {{outputColdBev}}</p>
    		<p>{{consistency}} <strong>liquids</strong></p>
    		<p><strong>Restrictions</strong> {{terms}}</p><br><br>
      </div>
    {{/each}}
  </div>
</template>
