.card-dashboard {
	top: 146px;
}

.dropdown-menu {
	left: 50%;
	right: auto;
	text-align: center;
	transform: translate(-50%, 0);
}

.dash-select {
	position: fixed;
	height: 86px;
	background-color: #334866;
	top: 50px;
		z-index: 100;
}



.dash-select-buttons {
	margin-top: 20px;
}

.card-pane {
	border-radius: 25px;
	background-color: white;
	margin-bottom: 4px;
	margin-bottom: 12px;
}


@media print {
    .no-print, .no-print * {
        display: none !important;
    }

		.card-print {
			height: 3in;
		}

		.print-spacer {
			height: 120px;
		}

}

@page{
	size:auto;
	margin-bottom:5mm;
	margin-top:5mm;
}

@media only screen and (max-device-width: 9999px) {

	.resident-print {
		display: none !important;
		background-color: blue !important;
	}



	.print-only, .print-only * {

	}
}
