<template name="mealList">
	<div class="container-fluid edit-resident-panel col-xs-12">
		<button class="btn btn-lg col-xs-6 col-xs-offset-3 col-md-2 col-md-offset-5 edit-resident-button" id="toggleEditMealsSpan">
			Edit Meals <span class="glyphicon glyphicon-pencil"></span></button>
	</div>

	{{#each meal}}
		<div class="meal-pane col-xs-6 col-xs-offset-3">
				<h2>{{mealTime}} - {{mealDay}}</h2><hr>
				<div class="row">
					<span class="col-xs-3"><strong>Main Protein</strong>:</span>
					<span class="col-xs-4">{{mainProtein}}</span>
					<span class="strike col-xs-4">{{restrictionsMainProtein}}</span>
				</div>
				<div class="mainproteinedit hidden">
					<span class="col-xs-7"></span><span class="col-xs-4">{{addRestrictionsMainProtein}}</span>
				</div>
				<div class="row">
					<span class="col-xs-3"><strong>Alt. Protein</strong>:</span>
					<span class="col-xs-4">{{altProtein}}</span>
					<span class="strike col-xs-4">{{restrictionsAltProtein}}</span>
				</div>
				<div class="row">
					<span class="col-xs-3"><strong>Vegetable 1</strong>:</span>
						<span class="col-xs-4">{{vegOne}}</span>
						<span class="strike col-xs-4">{{restrictionsVegOne}}</span>
				</div>
				<div class="row">
					<span class="col-xs-3"><strong>Vegetable 2</strong>:</span>
						<span class="col-xs-4">{{vegTwo}}</span>
						<span class="strike col-xs-4">{{restrictionsVegTwo}}</span>
				</div>
				<div class="row">
					<span class="col-xs-3"><strong>Starch 1</strong>:</span>
						<span class="col-xs-4">{{starchOne}}</span>
						<span class="strike col-xs-4">{{restrictionsStarchOne}}</span>
				</div>
				<div class="row">
				<span class="col-xs-3"><strong>Starch 2</strong>:</span>
					<span class="col-xs-4">{{starchTwo}}</span>
					<span class="strike col-xs-4">{{restrictionsStarchTwo}}</span>
				</div>
				<div class="row">
					<span class="col-xs-3"><strong>Added on</strong>:</span>
						<span class="col-xs-4">{{addedOn}}</span>
				</div>
			</div>
			<div class="col-xs-3">
			</div>
	{{/each}}

</template>
<!-- HOW TO USE: Apply a unique ID to each form group, and in JS, getelement of that form group and then modify value through there. -->
<template name="mealButtons">
	<div class="col-sm-1">
		<label class="checkbox-inline col-sm-1">
			<input type="checkbox" id="lcs" value="lcs">LCS
		</label>
	</div>
	<div class="col-sm-1">
		<label class="checkbox-inline col-sm-1">
			<input type="checkbox" id="nas" value="nas">NAS
		</label>
		<div class="col-sm-1">
			<label class="checkbox-inline col-sm-1">
				<input type="checkbox" id="lowSodium" value="lowSodium">Low Sodium
			</label>
		</div>
		<div class="col-sm-1">
			<label class="checkbox-inline col-sm-1">
				<input type="checkbox" id="renal" value="renal">Renal
			</label>
		</div>
	</div>

</template>
