.resident-card {
	border-radius: 25px;
	top: 58px;
	background-color: white;
	margin-bottom: 4px;
}

.dash-select {
	top: 50px;
	font-size: 2rem;
	margin: 2px;
}

.select-menu {
	border-radius: 25px;
}

.restopp {
	font-size: 30px;
	display: inline;
}

.hidden {
	opacity: 0;
}

.shown {
	opacity: 100;
}

.edit-resident-button {
	position: relative;
	top: 54px;
}
