.resident-card {
	border-radius: 25px;
	top: 146px;
	background-color: #F8F8F8;
	margin-bottom: 12px;
}

.big-box {
	min-height: 380px;
}
.small-box {
	min-height: 260px;
}

.resident-card-content {
	background-color: #F8F8F8;
}


.select-menu {
	border-radius: 25px;
}

.hidden {
	opacity: 0;
}

.shown {
	opacity: 100;
}

.edit-resident-panel {
	position: fixed;
	top: 50px;
	background-color: #334866;
	z-index: 5;
	height: 86px;
}

.edit-resident-button {
	margin-top: 20px;
	background-color: #F8F8F8;
	color: #CC1802;
}

.edit-resident-button:link {
	color: #CC1802;
}

.edit-resident-button:visited {
	color: #CC1802;
}

.edit-resident-button:hover {
	color: #CC1802;
}

.edit-resident-button:focus {
	color: #CC1802;
}

.edit-resident-button:active {
	color: #CC1802;
}


.red {
	color: red;
}

.green {
	color: green;
}
